@charset "utf-8";


body{background:url(../images/bg.jpg) repeat-y}

/* table */
table.tbl{width:100%; border-top:3px solid #232323}
table.tbl th{font-weight:700; text-align:center; background:#f3f3f3; border-bottom:1px solid #232323}
table.tbl th,
table.tbl td{padding:13px 0; border-left:1px solid #ddd; text-align:center; vertical-align:middle}
table.tbl th:first-child,
table.tbl td:first-child{border-left:0}
table.tbl td{border-bottom:1px solid #ddd; padding-left:10px; padding-right:10px}
table.tbl td input[type=text]{height:30px; line-height:28px}
table.tbl td input[type=file]{background:#fff; line-height:1; padding-top:5px; border:0}
table.tbl .t_l{text-align:left; padding-left:30px; padding-right:30px}
table.tbl .t_r{text-align:left; padding-left:30px; padding-right:30px}
table.tbl.row{border-top:1px solid #ddd}
table.tbl.row th,
table.tbl.row td{position:relative; padding-top:7px; padding-bottom:7px}
table.tbl.row th{border-bottom:1px solid #ddd; text-align:left; padding-left:30px; font-weight:400; padding-top:13px; vertical-align:top}
table.tbl.row th span.es{color:#f04e3e}
table.tbl.row th .ipt{position:absolute; left:30px; bottom:12px; font-size:14px; color:#5e5e5e}
table.tbl.row td{font-size:14px; text-align:left; padding-left:20px; padding-right:20px}
table.tbl.row td:first-child{border-left:1px solid #ddd}
table.tbl.row td ul.file_list li{margin-top:7px}
table.tbl.row td ul.file_list li:first-child{margin-top:0}
table.tbl.row td input[type=text]{height:36px; line-height:34px}
table.tbl.row td .lt_mt{padding:5px 0; color:#5e5e5e}
table.tbl.row td .lt_mt:after{content:''; display:block; clear:both}
table.tbl.row td .lt_mt p{float:left; width:150px; font-size:14px}
table.tbl.row td .lt_mt ul{float:left}
table.tbl.row td .lt_mt ul:after{content:''; display:block; clear:both}
table.tbl.row td .lt_mt ul li{float:left}
table.tbl.row.view th,
table.tbl.row.view td{line-height:24px; padding-top:12px; padding-bottom:12px}
table.tbl.row.view td ul.file_list li{margin-top:0}

table.tbl.tbl_style2{border: 1px solid #bbb;}
table.tbl.tbl_style2 td{padding-left: 40px; padding-right: 40px;}
table.tbl.tbl_style2 td.right_align{text-align: right;}
table.tbl.tbl_style2 tr:last-child td{border-bottom:0px;}
table.tbl.tbl_style3{border-top: 1px solid #ddd;}
table.tbl.tbl_style3 thead th{border-bottom: 1px solid #232323;text-align:center;padding: 10px 0px;}
table.tbl.tbl_style3 thead th:first-child{border-left: 1px solid #ddd;}
table.tbl.tbl_style3 thead th:last-child{border-right: 1px solid #ddd;}
table.tbl.tbl_style3 td{padding-left: 10px; padding-right: 10px;text-align:center;}
table.tbl.tbl_style3 td.right_align{text-align: right;}
table.tbl.tbl_style3 tr:last-child td{border-bottom:1px solid #ddd;}

table .material_list label{width: 86px; margin-right: 0px;line-height: 34px;}

/* button */
.btns{width:100%; margin-top:30px}
.btns:after{content:''; display:block; clear:both}
.btn{display:inline-block; width:90px; line-height:36px; background:#ed690c; font-size:14px; color:#fff; text-align:center}
.btn.black{background:#000}
.btn.gray{background:#232323;}
.btn.lightgray{background:#5e5e5e;}
.btn.line{width:auto; line-height:34px; padding:0 20px; background:#fff; border:1px solid #000; color:#000}
.btn.line_o{width:90px; line-height:34px; background:#fff; border:1px solid #ed690c; color:#ed690c}
.btn.line_g{width:90px; line-height:34px; background:#f3f3f3; border:1px solid #ddd; color:#232323}
.btn.line_b{width:90px; line-height:34px; background:#f3f3f3; border:1px solid #ddd; color:#000}
.btn_item_add{display:inline-block; width:36px; height:36px; border:1px solid #ddd; background:url(/admin/images/ico_plus.png) center no-repeat #f3f3f3; text-indent:-9999em}


/* paginate */
.paginate{width:100%; text-align:center; margin-top:30px}
.paginate a{display:inline-block; width:40px; height:40px; border:1px solid #ddd; font-size:16px; line-height:38px; text-align:center}
.paginate a:hover{border:1px solid #ed690c}
.paginate a.first{background:url(../images/ico_paginate_first.png) center no-repeat; text-indent:-9999em}
.paginate a.prev{background:url(../images/ico_paginate_prev.png) center no-repeat; text-indent:-9999em}
.paginate a.next{background:url(../images/ico_paginate_next.png) center no-repeat; text-indent:-9999em}
.paginate a.last{background:url(../images/ico_paginate_last.png) center no-repeat; text-indent:-9999em}
.paginate a.curr{background:#ed690c; color:#fff; font-weight:700; border:1px solid #ed690c}


/* search_box */
.search_box{border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#f3f3f3; padding:20px 70px 20px 70px; margin-bottom:65px}
.search_box table{width:100%}
.search_box table th,
.search_box table td{vertical-align:middle; line-height:36px; padding:10px 0}
.search_box table th{font-size:16px}
.search_box select{margin-right:5px}
.search_box input[type=text]{width:610px; margin-right:5px}
.search_box .for_term_btn button{margin-top:4px;}
.search_box select.top-option1,.search_box select.top-option2,.search_box select.top-option3{width:188px;}
.menuAddDetail .search_box{margin-bottom: 35px;}
.menuAddDetail .search_box input[type=text]{width: 580px;}
.menuAddDetail .search_box select.top-option1,.search_box select.top-option2,.search_box select.top-option3{width: 234px;}


/* tab */
.tab{margin-bottom:20px}
.tab ul{display:inline-block; border:1px solid #ddd}
.tab ul:after{content:''; display:block; clear:both}
.tab ul li{position:relative; float:left; width:165px; height:50px; border-left:1px solid #ddd}
.tab ul li:first-child{border-left:0}
.tab ul li a{position:absolute; left:-1px; top:-1px; width:calc(100% + 2px); line-height:52px; color:#000; text-align:center}
.tab ul li.on a{background:#ed690c; color:#fff; z-index:10}


/* ele */
.po_rel{position:relative;}
.vertical_mid{vertical-align: middle !important;}
.txt_left{text-align:left !important;}
.list_top{width:100%; margin-bottom:20px}
.list_top:after{content:''; display:block; clear:both}
.flt_l{float:left}
.flt_r{float:right}
.t_l{text-align:left !important}
.t_c{text-align:center !important}
.t_r{text-align:right !important}
.w60{width:60px !important}
.w64{width:64px !important}
.w80{width:80px !important}
.w100{width:100px !important}
.w120{width:120px !important}
.w140{width:140px !important}
.w200{width:200px !important}
.w300{width:300px !important}
.w400{width:400px !important}
.w500{width:500px !important}
.w800{width:800px !important}
.w100per{width:100% !important}
.mg_t10{margin-top:10px !important}
.mg_t20{margin-top:20px !important}
.mg_t25{margin-top:25px !important}
.mg_t32{margin-top:32px !important}
.mg_b10{margin-bottom:10px !important}
.mg_b30{margin-bottom:30px !important}
.mg_b50{margin-bottom:50px !important}
.mg_r10{margin-right:10px !important}
.mg_r30{margin-right:30px !important}
.mg_r38{margin-right:38px !important}
.mg_l6{margin-left:6px !important}
.mg_l10{margin-left:10px !important}
.mg_l20{margin-left:20px !important}
.mg_l50{margin-left:50px !important}
.mg_65{margin-left:65px !important}
.pd_r280{padding-right:280px !important}
.pd_l280{padding-left:280px !important}
.lh_24{line-height:24px !important}
.lh_46{line-height:46px !important}

input[type=text],
input[type=password]{height:36px; font-size:14px; line-height:34px; border:1px solid #ddd; padding:0 10px;}
input[type=password]{font-family:Sans-serif;}
input[type=file]{width:600px; height:36px; line-height:36px; background:#f3f3f3; border:1px solid #ddd}
textarea{width:100%; height:200px; border:1px solid #ddd; padding:5px 10px; font-size:14px}
select{width:155px; height:36px; border:1px solid #ddd; font-size:14px; color:#5e5e5e; line-height:34px; padding-left:20px; background:url(../images/ico_select.gif) right no-repeat #fff}
select{-webkit-appearance:none; -moz-appearance:none; appearance:none}
select::-ms-expand{display: none}
select.slt2{width:auto; height:36px; border:1px solid #ddd; font-size:14px; color:#5e5e5e; line-height:34px; padding-left:10px; padding-right:33px; background:url(../images/ico_select2.png) center right 10px no-repeat #fff}
select.slt2{-webkit-appearance:none; -moz-appearance:none; appearance:none}
select.slt2::-ms-expand{display: none}
input[type=radio]{vertical-align:middle; border:1px solid red}
.ui-datepicker-trigger{cursor:pointer}
.l_h36{line-height:36px}
.exel_down_btn{
	position: absolute;
    right: 0px;
    top: -4px;
}




/* header */
#header{position:relative; width:100%; background:#fff}
#header:after{position:absolute; left:0; bottom:0; width:100%; height:100px; height:1px; background:#d9d9d9; content:''; display:block; clear:both}
#header h1 a{display:block; width:285px; height:100px; background:url(../images/logo.png) center no-repeat; text-indent:-9999em}
#header ul.nav{position:absolute; right:3.125%; top:0; width:75.625%}
#header ul.nav:after{content:''; display:block; clear:both}
#header ul.nav li{position:relative; float:left; width:16.666%; height:100px}
#header ul.nav li:after{position:absolute; left:0; top:25px; width:1px; height:50px; background:#ddd; content:""}
#header ul.nav li:first-child:after{display:none}
#header ul.nav li a{position:absolute; left:0; top:0; width:calc(100% + 1px); display:block; font-size:18px; line-height:100px; text-align:center}
#header ul.nav li a:hover{text-decoration:none; color:#ed690c}
#header ul.nav li.on{z-index:10}
#header ul.nav li.on a{background:#ed690c; color:#fff; font-weight:700}
#header ul.nav li.on:after{display:none}



/* container */
#container{position:relative; width:100%}
#container .lnb{float:left; width:260px}
#container .lnb h2{display:block; font-size:24px; color:#000; line-height:95px; padding-left:45px; background:#f3f3f3; border-right:1px solid #ddd}
#container .lnb ul.menu{padding:30px 0 0 30px}
#container .lnb ul.menu > li > a{position:relative; display:inline-block; line-height:34px; padding-left:16px}
#container .lnb ul.menu > li > a:after{position:absolute; left:0; top:50%; width:5px; height:1px; background:#232323; content:""}
#container .lnb ul.menu > li > a:hover{text-decoration:underline}
#container .lnb ul.menu > li.on > a{font-weight:700; color:#ed690c}
#container .lnb ul.menu > li.on > a:after{background:#ed690c}
#container .lnb ul.menu > li ul.dpt2{display:none; padding-left:26px; margin-bottom:7px}
#container .lnb ul.menu > li ul.dpt2 li a{display:inline-block; font-size:14px; line-height:31px}
#container .lnb ul.menu > li ul.dpt2 li a:hover{text-decoration:underline}
#container .lnb ul.menu > li ul.dpt2 li.on a{font-weight:700; color:#ed690c}
#container .lnb ul.menu > li.on ul.dpt2{display:block}
#container .content{float:left; width:calc(100% - 260px); padding:50px 50px 100px 50px}
#container .content h3{display:block; font-size:40px; color:#000; line-height:1; margin-bottom:30px}

#container .pop{
	display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1260px;
    margin-left: -642px;
    margin-top: 120px;
    padding: 0px;
	padding-bottom:50px;
    background: #fff;
    z-index: 11000;
}
#container .pop .pop_header{
	position:relative;
	width: 100%;
    line-height: 36px;
    background: #ed690c;
    font-size: 24px;
    color: #fff;
    text-align: left;
    padding: 14px 45px;
}
#container .pop .pop_inner{	
	padding: 30px 46px 50px;
}
#container .pop.on{display:block}
#container .pop .pop_header a.btn_close{
	position:absolute;     
	right: 16px;
	top: 18px;
    display: block;
    width: 30px;
    height: 30px;
	background:url(../images/btn_close_white.png) no-repeat; 
	text-indent:-9999em;
}
#container .pop .top h2{font-size:24px; font-weight:700; color:#000; padding-left:7px}
#container .pop .top p{display:inline-block; font-size:14px; color:#999; padding:3px 0 0 11px}
#container .pop .btns{text-align:center; margin-top:50px}
#container .pop .btns a{display:inline-block; width:200px; line-height:53px; font-size:18px; color:#fff; font-weight:700; text-align:center}
#container .pop .btns a{
	display: inline-block;
    width: 128px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}


#container .pop.small_popup{
	width: 500px;
    margin-left: -350px;
    padding-bottom: 0px;
}
#container .pop.small_popup .pop_header{
}
#container .pop.small_popup .pop_inner{	
    padding: 25px 32px 40px;
}
#container .pop.small_popup .top h2{font-size:24px; font-weight:700; color:#000; padding-left:7px}
#container .pop.small_popup .top p{display:inline-block; font-size:14px; color:#999; padding:3px 0 0 11px}
#container .pop.small_popup .btns{text-align:center; margin-top:20px}
#container .pop.small_popup .btns a{display:inline-block; width:200px; line-height:53px; font-size:18px; color:#fff; font-weight:700; text-align:center}
#container .pop.small_popup .btns a{
	display: inline-block;
    width: 128px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

#container .dim_all{display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.2; z-index:10000}
#container .dim_all.on{display:block}

#container .cate_list_wrap{}
#container .cate_list_wrap .menu_cate{
    display: inline-block;
    border-top: 1px solid #ddd;
	margin-right: 50px;
}
#container .cate_list_wrap .menu_cate h2{
    display: block;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    line-height: 52px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #f3f3f3;
}
#container .cate_list_wrap .cate_list{
	
	display: block;
    height: 460px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    overflow-y: scroll;
	
}
#container .cate_list_wrap .cate_list ul{
	padding: 10px 0 20px;
}
#container .cate_list_wrap .cate_list ul li a{
	display:block;
	padding: 10px 0 10px 50px;
    font-size: 14px;
}
#container .cate_list_wrap .cate_list ul li a.selected{
	background:#f3f3f3;
}
/*
#container .cate_list_wrap .cate_list ul li a:hover{
	background:#f3f3f3;
}
*/



.added_oj{
    position: relative;
    margin-right: 36px;
    line-height: 36px;	
}
.added_rocation_wrap{
	line-height: 36px;
}
.added_rocation{
    position: relative;
    margin-right: 36px;
    line-height: 36px;	
	font-weight:bold
}
.added_oj:after{position: absolute;
    right: -24px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #D9D9D9;
    content: '';
    display: block;
    clear: both;
}
.add_row_td{line-height: 45px;}
.unit_kor{
    position: relative;
    margin: 0 3px;
    line-height: 36px;
}
.add_row_td .unit_kor{
    position: relative;
    display: inline-block;
    width: 76px;
	line-height: 46px;
}
.add_row_td input{
	margin-right:8px;
}

.menu_list_change{}
.menu_list_change > div{}
.menu_list_change ul{}
.menu_list_change ul li{
	display: block;
    width: 100%;
    line-height: 42px;
    border-top: 1px solid #ddd;
}
.menu_list_change ul li:last-child{
    border-bottom: 1px solid #ddd;
}
.menu_list_change ul li span{
	display: inline-block;
    font-size: 14px;
}
.menu_list_change ul li span.num{
    background: #f3f3f3;
    width: 44px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: center;
}
.menu_list_change ul li span.menu_name{
	width: 392px;
    border-right: 1px solid #ddd;
	padding-left: 30px;
}



