@charset "utf-8";

*{margin:0; padding:0; border:0; vertical-align:top; box-sizing:border-box}
html,body{width:100%; height:100%}
html{overflow-y:scroll; overflow-x:hidden}
body,h1,h2,h3,h4,input,button,textarea,select{font-family:'Malgun Gothic', '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif; font-size:16px; color:#232323; line-height:24px; font-weight:400}
body{background-color:#fff; text-align:left; -webkit-text-size-adjust:none}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
ul, ol, dl{list-style:none}
img, video{max-width:100%; border:0; vertical-align:middle}
a{vertical-align:middle; text-decoration:none; color:#232323}
a:hover{text-decoration:none}
table{border-collapse:separate; border-spacing:0}
table th{font-weight:normal; text-align:left}
input, select{vertical-align:middle}
input, select, textarea{-webkit-border-radius:1px; outline-style:none}
input[type=text], input[type=password], input[type=tel], input[type=email], input[type=submit], input[type=button], textarea{-webkit-border-radius:1px; -webkit-appearance:none}
input[type=checkbox],
input[type=radio]{width:17px; height:17px; cursor:pointer; vertical-align:middle}
input[type=radio]{cursor:pointer}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px auto inset}
label{cursor:pointer; display:inline-block; vertical-align:middle; padding-left:8px; margin-right:15px; line-height:24px}
legend, hr, caption{display:block; overflow:hidden; position:absolute; top:0; left:-1000em}
i, em, address{font-style:normal; font-weight:normal}
input[type=submit]{cursor:pointer}
h1,h2,h3,h4{display:inline}