@charset "utf-8";

#wrap{width:100%; height:100%}
#wrap input[type=text],
#wrap input[type=password]{height:40px; font-size:16px; line-height:38px; padding:0 10px; border:1px solid #b5b5b5}
#wrap input[type=password]{font-family:Sans-serif}
::placeholder{color:#999; opacity:1}
:-ms-input-placeholder{color:#999}
::-ms-input-placeholder{color:#999}
#wrap .btn{background:#ee7014}
#wrap .login_box{position:relative; top:50%; width:560px; height:auto; margin:-270px auto 0}
#wrap .login_box h1{display:block; width:100%; text-align:center; margin-bottom:30px}
#wrap .login_box .box{border:1px solid #ed6303}
#wrap .login_box .box .inner{width:386px; margin:0 auto; padding:65px 0 45px}
#wrap .login_box .box h2{position:relative; display:block; font-size:24px; line-height:1; font-weight:800; color:#232323; text-align:center; letter-spacing:2px}
#wrap .login_box .box h2:before{position:absolute; left:0; top:50%; width:108px; height:1px; background:#ccc; content:""}
#wrap .login_box .box h2:after{position:absolute; right:0; top:50%; width:108px; height:1px; background:#ccc; content:""}
#wrap .login_box .ipt{position:relative; margin:35px 0 0}
#wrap .login_box .ipt li{margin-top:12px}
#wrap .login_box .ipt li:first-child{margin-top:0}
#wrap .login_box .ipt li input{width:240px}
#wrap .login_box .ipt .btn{position:absolute; right:0; top:0; width:134px; height:92px; font-size:20px; line-height:92px; text-align:center; color:#fff}
#wrap .login_box .etc{margin-top:23px}
#wrap .login_box .etc a{text-decoration:underline}
#wrap .pop{display:none; position:absolute; left:50%; top:50%; width:780px; margin-left:-390px; margin-top:-191px; padding:75px 85px 50px; background:#fff; z-index:11000}
#wrap .pop.on{display:block}
#wrap .pop a.btn_close{position:absolute; right:0; top:-26px; display:block; width:26px; height:26px; background:url(../images/ico_close.png) no-repeat; text-indent:-9999em}
#wrap .pop .top h2{font-size:24px; font-weight:700; color:#000; padding-left:7px}
#wrap .pop .top p{display:inline-block; font-size:14px; color:#999; padding:3px 0 0 11px}
#wrap .pop table{width:100%; border-top:4px solid #000; border-bottom:1px solid #ddd; margin:3px 0 0; padding:40px 0}
#wrap .pop table th{font-size:18px; padding:20px 0 0 40px}
#wrap .pop table td{padding:10px 0}
#wrap .pop table td input[type=text],
#wrap .pop table td input[type=password]{width:324px}
#wrap .pop table td .chk{font-size:14px; padding-top:12px; line-height:14px}
#wrap .pop table td .chk span{color:#f04e3e}
#wrap .pop .btns{text-align:center; margin-top:50px}
#wrap .pop .btns a{display:inline-block; width:200px; line-height:53px; font-size:18px; color:#fff; font-weight:700; text-align:center}
#wrap .dim_all{display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.2; z-index:10000}
#wrap .dim_all.on{display:block}